@font-face {
    font-family:"Built-Titling";
    src:url(../fonts/built_titling_lt-webfont.eot) format("eot"),
    url(../fonts/built_titling_lt-webfont.svg) format("svg"),
    url(../fonts/built_titling_lt-webfont.ttf) format("ttf"),
    url(../fonts/built_titling_lt-webfont.woff) format("woff"),
    url(../fonts/built_titling_lt-webfont.woff2) format("woff2");
}

@font-face {
    font-family: "Built-Titling-Light";
    src:
    url(../fonts/BT-Light.eot) format("eot"),
    url(../fonts/BT-Light.svg) format("svg"),
    url(../fonts/BT-Light.ttf) format("ttf"),
    url(../fonts/BT-Light.woff) format("woff"),
    url(../fonts/BT-Light.woff2) format("woff2");
}

@font-face {
    font-family:"Helvetica-Neue-Thin";
    src:url(../fonts/helveticaneue-thin-webfont.eot) format("eot"),
    url(../fonts/helveticaneue-thin-webfont.svg) format("svg"),
    url(../fonts/helveticaneue-thin-webfont.ttf) format("ttf"),
    url(../fonts/helveticaneue-thin-webfont.woff) format("woff"),
    url(../fonts/helveticaneue-thin-webfont.woff2) format("woff2");
}

@font-face {
    font-family:"Helvetica-Neue-Medium";
    src:url(../fonts/HelveticaNeue-Medium.eot) format("eot"),
    url(../fonts/helveticaneue-thin-webfont.svg) format("svg"),
    url(../fonts/HelveticaNeue-Medium.ttf) format("ttf"),
    url(../fonts/HelveticaNeue-Medium.woff) format("woff"),
    url(../fonts/HelveticaNeue-Medium.woff2) format("woff2");
}

@font-face {
    font-family: "Helvetica-Neue-Light";
    src:url(../fonts/HelveticaNeueLight.eot) format("eot"),
    url(../fonts/HelveticaNeueLight.svg) format("svg"),
    url(../fonts/HelveticaNeueLight.ttf) format("ttf"),
    url(../fonts/HelveticaNeueLight.woff) format("woff"),
    url(../fonts/HelveticaNeueLight.woff2) format("woff2");
}


a {
    text-decoration: none;
}