@import "./styles/variables.scss";
@import "./styles/fonts.scss";


.colours {
    &__img-page-ctn-colours {
        top: 0px;
        right: 0px;
        padding: 2rem 1rem;
        margin-left: 13%;
        overflow:hidden;
        background: linear-gradient(to top, rgba(20, 20, 20, 1), rgba(0, 0, 0, 0.45)), url('./images//backgrounds/iceboat.jpeg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: center;
        height: 300px;
    }

    @media screen and (max-width: 1024px){
        &__img-page-ctn-colours {
            margin-left: 22%;
        }
    }

    @media screen and (min-width: 1115px){
        &__img-page-ctn-colours {
            margin-left: 13%;
        }
    }

    @media screen and (max-width: 660px){
        &__img-page-ctn-colours {
            margin-left: 0%;
            padding-top: 160px;
            text-align: center;
        }
    }

    &__inner-page-ctn {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        top: 0px;
        right: 0px;
        align-items: center;
        width: 75%;
        margin: 2rem;
    }


    &__inner-row {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__main-title {
        font-family: "Built-Titling-Light";
        color: white;
        font-size: 62pt;
        letter-spacing: 2px;
        margin: 1rem 0rem;
        width: 100%;
    }

    &__img-colours {
        width: 100%;
        max-width: 380px;
        box-shadow: 0 0 black;
        margin: 1rem;
        align-self: flex-start;
    }

    &__swatch-ctn {
        margin: 1rem;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 1115px) {
        &__swatch-ctn {
            height: unset;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__img-colour-swatch {
        width: 100%;
        max-width: 100px;
        margin: 0.5rem;
    }

    &__img-ctn {
        margin: 1rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    @media screen and (max-width: 1115px) {
        &__img-ctn {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__regular-title {
        font-family: "Built-Titling-Light";
        color: white;
        font-size: 30pt;
        margin-bottom: 1.5rem;
        width: 100%;
    }

    &__logo {
        width: 300px;
    }

    &__txt-ctn {
        display: flex;
        flex-direction: column;
        margin: 2rem 0rem;
    }

    &__intro-ctn {
        width: 100%;
    }

    &__divider {
        height: 1px;
        width: 100%;
        opacity: 0.2;
        border-bottom: 0.25px solid white;
    }

    &__small-title {
        font-family: "Helvetica-Neue-Thin";
        font-size: 17pt;
        color: white;
        margin-bottom: 1rem;
    }


    &__subtitle {
        font-family: "Helvetica-Neue-Thin";
        font-size: 16pt;
        color: white;
        letter-spacing: 1px;
    }

    &__divider-small {
        height: 1px;
        width: 100%;
        opacity: 0.6;
        margin: 0.5rem 0rem;
        border-bottom: 0.25px solid white;
    }

    &__body-txt {
        font-family: "Helvetica-Neue-Thin";
        font-size: 12pt;
        color: white;
        letter-spacing: 0.3px;
        line-height: 22px;
        margin-bottom: 1rem;
    }

    &__page-ctn {
        top: 0px;
        right: 0px;
        padding: 1rem;
        margin-left: 13%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: 1024px){
        &__page-ctn {
            margin-left: 22%;
        }
    }

    @media screen and (max-width: 660px){
        &__page-ctn {
            margin-left: 0%;
        }
    }

    &__med-ctn {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}




